.wrapper {
  min-height: rem(400px);
  padding-bottom: calc(var(--mantine-spacing-xl) * 1);
  background-image: radial-gradient(
          var(--mantine-color-blue-6) 0%,
          var(--mantine-color-blue-4) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 2.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-black);
  line-height: 1;
  text-align: center;
}

.description {
  color: var(--mantine-color-blue-0);
  max-width: rem(300px);
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}

.social {
  color: var(--mantine-color-white);

  @mixin hover {
    color: var(--mantine-color-blue-1);
  }
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-blue-6);
  margin-top: 40px;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    transform: scale(1.05);
    background-color: var(--mantine-color-green-6);
  }
}
