.control {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  text-decoration: none;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

    svg {
      fill: violet;
    }
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);

    svg {
      fill: white;
    }
  }

  svg {
    transition: fill 0.2s ease;
  }
}
