.skillsSection {
    text-align: center;
}

.skillCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skillContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
