.root {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343 70%),
  url(/tim.jpg);
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  color: white;
  font-family:
          Greycliff CF,
          var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.05;
  max-width: rem(500px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.15;
  }
}

.description {
  color: #f0f0f0;
  max-width: 400px;
}

.listItem {
  color: #f0f0f0;
  max-width: 400px;
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  transition: transform 0.2s ease-in-out;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}
