.projectsContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.projectCard {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  height: 160px;
}

.projectTitle {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.projectDescription {
  color: #6b7280;
  font-size: 0.875rem;
}
