.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-black);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.description {
  text-align: center;
  color: var(--mantine-color-black);
}

.ratesBox {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-md);
  margin: var(--mantine-spacing-md) auto;
  max-width: 400px;
}

.footnote {
  text-align: center;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
  font-style: italic;
  margin-top: var(--mantine-spacing-md);
}

.footnote {
  text-align: center;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
  font-style: italic;
}
