.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2);
  background-color: var(--mantine-color-gray-0);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-black);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.description {
  text-align: center;
  color: var(--mantine-color-black);
}
