.wrapper {
  padding: var(--mantine-spacing-md);
}

@media (min-width: 768px) {
  .wrapper {
    padding: calc(var(--mantine-spacing-xl) * 2);
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-black);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.ratesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  align-items: center;
}

.rateItem {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-md);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .ratesContainer {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footnote {
  text-align: center;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
  font-style: italic;
  margin-top: var(--mantine-spacing-xs);
}
